.base {
  background-image: url("https://images.unsplash.com/photo-1500534314209-a25ddb2bd429?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  margin-left: 0.5rem;
}

.item {
  width: 10rem;
}
